* {
    background-color: blueviolet;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-family: 'Noto Sans SC', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    border: 1px solid white;
    text-align: center;
    padding: 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item1 {
    grid-column: 3 / span 1;
    border-radius: 10px;
}

.item2 {
    grid-column: 1 / span 1;
    border-radius: 10px;
}

.item3 {
    grid-column: 2 / span 2;
    border-radius: 10px;
}

.item4 {
    grid-column: 2 / span 1;
    border-radius: 10px;
}

.item5 {
    grid-column: 1 / span 2;
    border-radius: 10px;
}

.item6 {
    grid-column: 3 / span 1;
    border-radius: 10px;
}

.item7 {
    grid-column: 1 / span 1;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 8rem;
        font-weight: 500;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    section {
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 12rem;
        font-weight: 500;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    section {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 16rem;
        font-weight: 800;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    section {
        font-size: 18px;
    }
}