*{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16rem;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-column: 3 / span 1;
    border-radius: 10px;
}

.item2 {
    grid-column: 1 / span 1;
    border-radius: 10px;
}

.item3 {
    grid-column: 2 / span 2;
    border-radius: 10px;
}

.item4 {
    grid-column: 2 / span 1;
    border-radius: 10px;
}

.item5 {
    grid-column: 1 / span 2;
    border-radius: 10px;
}

.item6 {
    grid-column: 3 / span 1;
    border-radius: 10px;
}

.item7 {
    grid-column: 1 / span 1;
    border-radius: 10px;
}

@media only screen
    and (width: 428px)
    and (-webkit-device-pixel-ratio: 3) {
        h1 {
            font-size: 8rem;
        }
        ul {
            /* font-size: 1rem; */
            margin: 4px 6px;
            padding: 0;

        }

        .grid-container {
            display: flex;
            flex-direction: column;
            padding: 0;
            font-size: 4px;
        }

    }