*{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16rem;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-column: 3 / span 1;
    border-radius: 10px;
}

.item2 {
    grid-column: 1 / span 1;
    border-radius: 10px;
}

.item3 {
    grid-column: 2 / span 2;
    border-radius: 10px;
}

.item4 {
    grid-column: 2 / span 1;
    border-radius: 10px;
}

.item5 {
    grid-column: 1 / span 2;
    border-radius: 10px;
}

.item6 {
    grid-column: 3 / span 1;
    border-radius: 10px;
}

.item7 {
    grid-column: 1 / span 1;
    border-radius: 10px;
}

/* 375x667 pixels at 326 ppi for iPhones 6, 6s, 7, 8, SE (1st gen) */
@media only screen
    and (width: 375px)
    and (height: 667px)
    and (-webkit-device-pixel-ratio: 2) {
    h1 {
        font-size: 5rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }
    
/* 750x1334 pixels at 326 ppi for iPhones 7 (2016), 8 (2017), SE (1st to 3rd gen) */
@media only screen
    and (width: 414px)
    and (height: 896px)
    and (-webkit-device-pixel-ratio: 2) {
    h1 {
        font-size: 6rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }

/* 1242x2688 pixels at 458 ppi for iPhones 11 Xs Max, 11 Pro Max */
@media only screen
    and (width: 414px)
    and (height: 896px)
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 6rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }

/* 828x1792 pixels at 326 ppi for iPhones 11, Xr */
@media only screen
    and (width: 414px)
    and (height: 896px)
    and (-webkit-device-pixel-ratio: 2) {}

/* 1080x2340 pixels at 476 ppi for iPhones X, Xs, 11 Pro, 12 Mini, 13 Mini */
@media only screen
    and (width: 375px)
    and (height: 812px)
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 5rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }

/*1284x2778 pixels at 458 ppi for iPhones 12 Pro Max, 13 Pro Max, 14 Plus */
@media only screen
    and (width: 428px)
    and (height: 926px)
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 6rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }

/*1170x25332 pixels at 460 ppi for iPhones 12, 12 Pro, 13, 13 Pro, 14 */
@media only screen
    and (width: 390px)
    and (height: 844px)
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 5rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }

/* 1284x2778 pixels at 460 ppi for iPhones 14 Pro Max, 15 Plus, 15 Pro Max */
@media only screen
    and (width: 430px)
    and (height: 932px)
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 6rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }

/* 1179x2556 pixels at 460 ppi for iPhones 14 Pro, 15, 15 Pro */
@media only screen
    and (width: 393px)
    and (height: 852px)
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 5rem;
    }
        .grid-container {
            display: flex;
            flex-direction: column;
        }
    }