@media only screen and (min-width: 320px) {
    #bg-animation2 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        animation: swish 1s linear forwards;
    }

    h1 {
        animation: shadow 3s infinite alternate;
        animation-delay: 1s;
    }


    @keyframes expose {
        0% {
            width: 100vw;
        }

        25% {
            width: 75vw;
        }

        50% {
            width: 50vw;
        }

        75% {
            width: 25vw;
        }

        100% {
            width: 0vw;
            visibility: hidden;
        }
    }

    @keyframes exposeDiv {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-350%);
        }
    }

    @keyframes swish {
        0% {
            width: 100vw;
        }

        25% {
            width: 75vw;
        }

        50% {
            width: 50vw;
        }

        75% {
            width: 25vw;
        }

        100% {
            width: 0vw;
            visibility: hidden;
        }
    }

    @keyframes shadow {
        0% {
            text-shadow: 0rem 0rem 1rem red, 0rem 0rem 2rem orange, 0rem 0rem 3rem yellow;
        }

        20% {
            text-shadow: 0rem 0rem 1rem orange, 0rem 0rem 2rem yellow, 0rem 0rem 3rem green;
        }

        40% {
            text-shadow: 0rem 0rem 1rem yellow, 0rem 0rem 2rem green, 0rem 0rem 3rem blue;
        }

        60% {
            text-shadow: 0rem 0rem 1rem green, 0rem 0rem 2rem blue, 0rem 0rem 3rem indigo;
        }

        80% {
            text-shadow: 0rem 0rem 1rem blue, 0rem 0rem 2rem indigo, 0rem 0rem 3rem violet;
        }

        100% {
            text-shadow: 0rem 0rem 1rem violet, 0rem 0rem 2rem red, 0rem 0rem 3rem orange;
        }
    }
}
@media only screen and (min-width: 768px) {
    .wrapper, .wrapper>div, #bg-animation2 {
        display: none;
    }
    h1 {
        animation-delay: 0s;
    }
}