@media only screen and (min-width: 320px) {
    .cloud {
        position: absolute;
        width: 50%;
        top: -100px;
        margin: 0;
        padding: 0;
        animation: slide-in 5s ease-in forwards;
    }

    .cloud2 {
        position: absolute;
        width: 50%;
        top: -65px;
        margin: 0;
        padding: 0;
        animation: slide-in 6s ease-in forwards;
    }

    .cloud3 {
        position: absolute;
        width: 41%;
        top: 0px;
        margin: 0;
        padding: 0;
        animation: slide-in 5.5s ease-in forwards;
    }

    .cloud4 {
        position: absolute;
        width: 45%;
        top: -65px;
        margin: 0;
        padding: 0;
        animation: slide-in 4.5s ease-in forwards;
    }

    @keyframes slide-in {
        from {
            left: -45%;
            opacity: 100%;
        }

        to {
            left: 50%;
            opacity: 0%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .cloud {
        visibility: hidden;
    }

    .cloud2 {
        visibility: hidden;
    }

    .cloud3 {
        visibility: hidden;
    }

    .cloud4 {
        visibility: hidden;
    }
}

@media only screen and (min-width: 1024px) {
    .cloud {
        visibility: hidden;
    }

    .cloud2 {
        visibility: hidden;
    }

    .cloud3 {
        visibility: hidden;
    }

    .cloud4 {
        visibility: hidden;
    }
}

@media only screen and (min-width: 1280px) {
    .cloud {
        visibility: hidden;
    }

    .cloud2 {
        visibility: hidden;
    }

    .cloud3 {
        visibility: hidden;
    }

    .cloud4 {
        visibility: hidden;
    }
}