@media only screen and (min-width: 320px) {
    h1 {
        animation: shadow 5s infinite alternate;
    }

    @keyframes shadow {
        0% {
            opacity: 100%;
            text-shadow: red 0px 1px 100px;
        }

        15% {
            opacity: 100%;
            text-shadow: orange 0px 1px 10px;
        }

        30% {
            opacity: 100%;
            text-shadow: yellow 0px 1px 100px;
        }

        45% {
            opacity: 100%;
            text-shadow: green 0px 1px 10px;
        }

        60% {
            opacity: 100%;
            text-shadow: blue 0px 1px 100px;
        }

        75% {
            opacity: 100%;
            text-shadow: indigo 0px 1px 10px;
        }

        90% {
            opacity: 100%;
            text-shadow: violet 0px 1px 100px;
        }
    }
}