:root {
    --grid-unit: 1rem;
    --border-radius-base: 0.5rem;
    --font-family-head: 'Noto Sans SC', sans-serif;
    --font-family-body: 'Poppins', sans-serif;
    --color-bg: #eceae0;
    --color-fg: rgb(10, 10, 10);

}

body {
    font-family: var(--font-family-body);
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-head);
}

#grandios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.7rem;
}

#question-container {
    margin: 0 auto;
    padding: 0.7rem;
    text-align: center;
    width: 50vw;
    font-size: 24px;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.7rem;
}

.answer-buttons {
    border-radius: 2rem;
    cursor: pointer;
    padding: 0.7rem;
    font-size: 18px;
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 1.4rem;
    width: 50%;
    margin: 0.14rem auto;
}

.newContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0..8rem;
}

#test-question-text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
    font-size: 24px;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    aspect-ratio: 1/1;
    width: 80%;
    padding: 0.8rem;
    margin: 0.8rem auto;
    font-family: var(--font-family-body);
    border-radius: 0.7rem;
    resize: none;
    font-size: 22px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: var(--color-fg);
}

#checkButton {
    text-align: center;
    margin: 1rem auto;
    padding: 0.8rem;
    border-radius: 1rem;
    width: 50%;
    font-size: 22px;
}

#new-start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 20px;
    width: 50%;
    margin: 0.14rem auto;
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--color-bg);
        background-color: var(--color-fg);
    }
    #start-button {
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: 0.07rem solid var(--color-bg);
        box-shadow: var(--color-bg) 0 0 0.35rem;
    }
    #start-button:hover {
        background-color: var(--color-fg);
        color: var(--color-bg);
        border: 0.07rem solid var(--color-fg);
    }
    #start-button:active {
        border: 0.07rem solid var(--color-fg);
    }
    #new-start-button {
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: 0.07rem solid var(--color-bg);
        box-shadow: var(--color-bg) 0 0 0.35rem;
    }
    #new-start-button:hover {
        background-color: var(--color-fg);
        color: var(--color-bg);
        border: 0.07rem solid var(--color-fg);
    }
    #new-start-button:active {
        border: 0.07rem solid var(--color-fg);
    }
    textarea {
        border: 0.07rem solid var(--color-bg);
        background-color: rgb(49, 49, 49);
        color: var(--color-bg);
    }
    textarea::placeholder {
        color: var(--color-bg);
    }
    textarea:focus {
        outline: none;
        border: 0.15rem solid var(--color-bg);
    }
    #checkButton {
        border: 0.07rem solid var(--color-bg);
        background-color: var(--color-fg);
        color: var(--color-bg);
        box-shadow: 0 0 0.35rem var(--color-bg);
    }
    #checkButton:hover {
        border: 0.07rem solid var(--color-fg);
        background-color: var(--color-bg);
        color: var(--color-fg);
    }
    #checkButton:active {
        box-shadow: 0 0 0.7rem var(--color-bg);
        background-color: var(--color-fg);
        color: var(--color-bg);
    }
    .answer-buttons {
        border: 0.07rem solid var(--color-bg);
        background-color: var(--color-bg);
        color: var(--color-fg);
        box-shadow: var(--color-bg) 0 0 0.28rem;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--color-fg);
        background-color: var(--color-bg);
    }

    #start-button {
        background-color: var(--color-fg);
        color: var(--color-bg);
        border: 0.07rem solid var(--color-fg);
        box-shadow: var(--color-fg) 0 0 0.35rem;
    }

    #start-button:hover {
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: 0.07rem solid var(--color-bg);
    }

    #start-button:active {
        border: 0.07rem solid var(--color-bg);
    }

    #new-start-button {
        background-color: var(--color-fg);
        color: var(--color-bg);
        border: 0.07rem solid var(--color-fg);
        box-shadow: var(--color-fg) 0 0 0.35rem;
    }

    #new-start-button:hover {
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: 0.07rem solid var(--color-bg);
    }

    #new-start-button:active {
        border: 0.07rem solid var(--color-bg);
    }

    textarea {
        border: 0.07rem solid var(--color-fg);
    }

    textarea::placeholder {
        color: var(--color-fg);
    }

    textarea:focus {
        outline: none;
        border: 0.15rem solid var(--color-fg);
    }

    #checkButton {
        border: 0.07rem solid var(--color-fg);
        background-color: var(--color-bg);
        color: var(--color-fg);
    }

    #checkButton:hover {
        border: 0.07rem solid var(--color-bg);
        background-color: var(--color-fg);
        color: var(--color-bg);
    }

    #checkButton:active {
        box-shadow: 0 0 0.7rem var(--color-fg);
        background-color: var(--color-bg);
        color: var(--color-fg);
    }
    .answer-buttons {
        border: 0.07rem solid var(--color-fg);
        background-color: var(--color-fg);
        color: var(--color-bg);
        box-shadow: var(--color-fg) 0 0 0.28rem;
    }
}

@media only screen and (min-width: 320px) {

    body {
        overflow-x: hidden;
        font-size: 22px;
    }

    h1 {
        font-size: 60px;
        padding: 0.28rem;
        font-weight: 600;
        cursor: default;
    }

    #grandios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.7rem auto;
        padding: 1.4rem;
        width: 75%;
        gap: 0.7rem;
    }

    .quiz-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0.7rem;
    }

    #question-container {
        cursor: default;
        width: 100%;
        margin: 0;
    }

    #answer-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        padding: 0.7rem;
    }

    #start-button {
        width: 80%;
        cursor: pointer;
    }

    #new-start-button {
        width: 80%;
        cursor: pointer;
    }
    #timer {
        font-size: 6rem;
        animation: time 60s linear forwards;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1280px) {}